<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>list of users</title>
    {% include "comment/links.html" %}
    <style>
      .nav-tabs .nav-link {
        color: #ccc; /* یا مثلا سفید: #fff */
      }

      .nav-tabs .nav-link.active {
        color: #1c1d1f; /* رنگ آبی پیش‌فرض Bootstrap */
        background-color: #fff;
      }

      .nav-tabs .nav-link.disabled {
        color: #6c757d;
      }
    </style>
  </head>
  <body>
    <ul class="nav nav-tabs bg-dark">
      <li class="nav-item">
        <a
          class="nav-link {% if request.resolver_match.url_name == 'main-page' %} active {% endif %}"
          aria-current="page"
          href="{% url 'main-page' %}"
          >main page</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link {% if request.resolver_match.url_name == 'contact-us' %} active {% endif %}"
          href="{% url 'contact-us' %}"
          >Contact Us</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Support</a>
      </li>
    </ul>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Age</th>
        </tr>
      </thead>
      <tbody>
        {% for user in models %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          {% if user.age < 18 %}
          <td>under 18</td>
          {% else %}
          <td>{{user.age}}</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
